@tailwind base;
@tailwind components;
@tailwind utilities;


/* APP */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
main {
  padding: 16px;
}


/* PAGES - GENERAL */
#title-div {
  padding: 0px 8px 16px 0px;
  align-items: center;
}


/* BUDGET */
#budget-card {
  margin: 4px;
}

